@keyframes hover {
  0% {
    top: -10px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: -10px;
  }
}
@keyframes fade-slide-in-top {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes fade-slide-in-left {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes fade-slide-in-right {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes fade-slide-in-bottom {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes special-slide-in-bottom {
  0% {
    bottom: -75px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes special-slide-in-bottom-2 {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  30% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes special-slide-in-bottom-3 {
  0% {
    bottom: -150px;
    opacity: 0;
  }
  30% {
    bottom: -150px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slow-slide-in-bottom {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes slow-slide-out-bottom {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}